<div class="p-5 pt-0">
    <div class="form-group example-container">
        <h6 class="form-title">Etats de validation</h6>
        <form [formGroup]="etats__validationGroup">

            <div class="d-flex justify-content-between">
                <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Nom:</mat-label>
                    <input matInput placeholder="Nom" formControlName="nom">
                </mat-form-field>
            </div>

            <div class="d-flex justify-content-between">
                <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Pastille:</mat-label>
                    <input matInput placeholder="Pastille" formControlName="pastille">
                </mat-form-field>
            </div>

            <div class="d-flex justify-content-between padding-bot">
                <div class="d-flex">
                    <mat-checkbox class="example-margin" formControlName="avec_Parametres" (click)="isVisibleParametres = true">
                        Paramètres
                    </mat-checkbox>
                </div>
            </div>

            <div *ngIf="isVisibleParametres">
                <div class="d-flex justify-content-between padding-bot">
                    <mat-radio-group class="example-radio-group" appearance="outline" formControlName="envoie_Mail">
                        <mat-radio-button
                            *ngFor="let option of keys(Enums.Envoie_MailEtats__ValidationEtats__Validation);index as i"
                            [value]="values(Enums)[i]" style="padding-right: 20px;">{{option}}</mat-radio-button>
                    </mat-radio-group>
    
                </div>
    
                <div class="d-flex justify-content-between padding-bot">
                    <ul>
                        <li *ngFor="let option of keys(Enums.ActionEtats__ValidationEtats__Validation);index as i">
                          <mat-checkbox  >
                                        {{option}}
                          </mat-checkbox>
                        </li>
                      </ul>
                </div>

            </div>



            <input type="submit" (click)="onSubmit()" value="Enregistrer" class="btn-save mt-2">
            <input type="submit" value="Annuler" class="btn-save mt-2">
        </form>
    </div>
</div>