<div class="p-5 pt-0">
  <div class="example-container ">
    <div class=" header-content">
      <span class="list-title">TypeProspects</span>
      <button class="btn btn-primary mb-3 mt-2 btn-add" [routerLink]="['/TypeProspects/add']">Ajouter</button>

    </div>

    <div class="example-table-container">

      <table mat-table [dataSource]="typeprospectss" class="example-table" matSort matSortActive="idSociete"
        matSortDisableClear matSortDirection="desc">

        <!-- State Column -->
        <ng-container matColumnDef="societes">
          <th mat-header-cell *matHeaderCellDef>IdSociete</th>
          <td mat-cell *matCellDef="let row">{{row.societes}}</td>
        </ng-container>
        <!-- Number Column -->
        <ng-container matColumnDef="libelle_Type_Prospect">
          <th mat-header-cell *matHeaderCellDef>Type prospects</th>
          <td mat-cell *matCellDef="let row">{{row.libelle_Type_Prospect}}</td>
        </ng-container>

        
        <!-- State Column -->
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef class="text-end action-title">actions</th>
          <td mat-cell *matCellDef="let row" class="text-end">
            <!-- <span class="link" [routerLink]="['/typeprospects/'+row.id]"><fa-icon [icon]="faEdit"></fa-icon></span> -->
            <button mat-icon-button mat-button class="action-button" (click)="delete(row)">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
            <button mat-icon-button mat-button class="action-button" [routerLink]="['/typeprospects/'+row.id]">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results">
    </mat-paginator>
  </div>
</div>
