$color-purple: #7470fc;
$color-border: #dce3e6;
$color-white: #ffffff;
$color-light-grey: #d3d3d3;

$mobile: 410px;
$tablet: 900px;
.enregistrer{
  margin-top: 105px;
}

.inscription {
  max-width: 920px;
  margin: 40px auto;
  padding: 20px 42px;
  border: 1px solid $color-border;
  background-color: #fff;
  &__form {
    margin: 20px 0;

    &__flex {
      //display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      margin: 20px 0;
      @media only screen and (max-width: $tablet) {
        flex-direction: column;
      }
    }
  }
}

mat-horizontal-stepper.inscription-stepper {
  ::ng-deep {
    &.mat-step {
      &-text-label {
        display: none;
      }
      &-icon {
        pointer-events: none;
        width: 72px;
        height: 60px;
        border-radius: 4px;
        background-color: $color-light-grey;
        @media only screen and (max-width: $mobile) {
          width: 45px;
        }
      }
      &-icon-selected {
        background-color: $color-purple;
      }
      &-header {
        padding: 0 15px 0 0;
        font-size: 32px;
        @media only screen and (max-width: $mobile) {
          padding: 0;
        }
      }
      &-header:hover {
        background-color: transparent;
        max-height: 60px;
      }
      &-header:active {
        background-color: transparent;
      }
      &-header:focus {
        background-color: transparent;
      }
      &-header::before {
        display: none;
      }
      &-header::after {
        display: none;
      }
    }
    &.mat-horizontal {
      &-stepper-header-container {
        justify-content: center;
        margin: 20px 0;
      }
      &-content-container {
        padding: 0;
      }
    }
    &.mat-stepper {
      &-stepper-header {
        min-width: 0;
      }
      &-horizontal-line {
        display: none;
      }
      
    }
  }
}

.inscription-mat-step {
  &-content {
    padding: 20px 42px;
    border: 1px solid $color-border;
  }

  ::ng-deep {
    &.mat-step {
      &-text-label {
        display: block !important;
      }
      &-icon {
        width: 40px !important;
        height: 40px !important;
        border-radius: 50% !important;
        font-size: 16px;
      }
      &-header {
        width: 40px;
        padding: 15px 0 0 !important;
      }
      &-header:nth-child(2) {
        display: none !important;
      }
    }
    &.mat-stepper {
      &-stepper-header {
        min-width: 0;
      }
      &-horizontal-line {
        display: block !important;
        background-color: $color-purple;
        height: 2px;
      }
    }
  }
}

.inscription-mat-sous-step {
  ::ng-deep.mat-horizontal-stepper-header-container {
    display: none;
  }
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.small{
  font-size: .8em;
}

.color-default{
  color: #777777;
}

.color-red {
  color: red;
}
.text-red{
  margin-top: 5rem;
}
.center {
  text-align: center;
}
.color-blue {
  color: #00a4dd;;
}

.file-upload-button-pdf {
  padding: 10px 27px;
  max-width: 142px;
 // min-width: 137px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(111, 66, 193, 1) 0%,
    rgba(116, 112, 252, 1) 50%,
    rgba(116, 112, 252, 1) 100%
  );
  color: $color-white;
  font-size: 16px;
  letter-spacing: 0;
  border-width: 2px;
  text-transform: none;
  border-radius: 50px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-left: 65px;
 cursor: pointer;
  }
.float_right{
  margin-left: 43.5rem;
}