<footer class="footer">
  <div class="footer__flex">
    <div class="footer__logo">
      <img src="assets/images/logo.png" alt="" />
    </div>
    <div class="footer__menu">
      <a href="#"><span>Gestion</span></a>
      <a href="#"><span>Rendez-vous</span></a>
      <a href="#"><span>Nouvelles</span></a>
    </div>
    <div class="footer__widget">
      <div class="footer__widget__content">
        <h3>Nous Contacter</h3>
        <a href="tel:1-800-765-4321"><span>1-800-765-4321</span></a>
      </div>
      <div class="footer__widget__content">
        <h3>Envoyer un email</h3>
        <a href="mailto:neoprospection@gmail.com"
          ><span>neoprospection@gmail.com</span></a
        >
      </div>
    </div>
    <div class="footer__s-media">
      <h3>Rejoignez-nous</h3>
      <div class="footer__s-media__links">
        
      <a
      href="https://telegram.org/"
      class="fa fa-paper-plane border-icon rounded-icon"
    ></a>
    <a
      href="https://www.facebook.com/"
      class="fa fa-facebook border-icon rounded-icon"
    ></a>
    <a
      href="https://www.instagram.com/"
      class="fa fa-instagram border-icon rounded-icon"
    >
  </a>
    <a
      href="https://youtube.com/"
      class="fa fa-youtube-play border-icon rounded-icon"
    ></a>
    <a
      href="https://twitter.com/"
      class="fa fa-twitter border-icon rounded-icon"
    ></a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <span>&copy; 2022 Copyright</span>
  </div>
</footer>
