<div>
    <div class="css-dg8599">
        <h3 class="MuiTypography-root MuiTypography-h3 MuiTypography-alignCenter MuiTypography-gutterBottom css-3wb0vh">
            We have a plan for everyone</h3>
        <h6
            class="MuiTypography-root MuiTypography-subtitle1 MuiTypography-alignCenter MuiTypography-gutterBottom css-1m0egv3">
            Whether you're a business or an individual, 14-day trial no credit card required.</h6>
    </div>

    <div class="MuiGrid-root MuiGrid-container css-1cn3yto">
        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-lg-10 css-12bxjy8">
            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-6 css-19adwqa">
                <!-- <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 css-16ansk8">
                    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1bwnlt1"
                        p="5">
                        <div class="MuiCardHeader-root css-1r6qk30" pb="0" pt="2">
                            <div class="MuiCardHeader-content css-11qjisw"><span
                                    class="MuiTypography-root MuiTypography-h5 MuiTypography-alignCenter MuiCardHeader-title css-cktmo9">Free</span>
                            </div>
                        </div>
                        <div class="MuiCardContent-root css-1qw96cp">
                            <div class="css-1xeotsd">
                                <h2 class="MuiTypography-root MuiTypography-h1 MuiTypography-alignCenter css-6ik0k6">$0
                                </h2>
                                <h5 class="MuiTypography-root MuiTypography-h5 MuiTypography-alignCenter css-1x7qppm">
                                    /mo</h5>
                            </div>
                            <h6 class="MuiTypography-root MuiTypography-subtitle1 MuiTypography-alignCenter css-wj4zqm">
                                10 users included<br>2 GB of storage<br>Help center access<br>Email support</h6>
                        </div>
                        <div class="MuiCardActions-root MuiCardActions-spacing css-3zukih"><button
                                class="MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-sizeMedium MuiButton-outlinedSizeMedium MuiButton-fullWidth MuiButtonBase-root  css-2vt611"
                                tabindex="0" type="button">Sign up for free</button></div>
                    </div>
                </div> -->
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 css-16ansk8">
                    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1bwnlt1"
                        p="5">
                        <div class="MuiCardHeader-root css-1r6qk30" pb="0" pt="2">
                            <div class="MuiCardHeader-content css-11qjisw"><span
                                    class="MuiTypography-root MuiTypography-h5 MuiTypography-alignCenter MuiCardHeader-title css-cktmo9">Free</span><span
                                    class="MuiTypography-root MuiTypography-body1 MuiTypography-alignCenter MuiCardHeader-subheader css-snblp7">Most
                                    popular</span></div>
                            <div class="MuiCardHeader-action css-sqp4u0"><svg
                                    class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vnjz4i" focusable="false"
                                    aria-hidden="true" viewBox="0 0 24 24" data-testid="StarBorderIcon">
                                    <path
                                        d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z">
                                    </path>
                                </svg></div>
                        </div>
                        <div class="MuiCardContent-root css-1qw96cp">
                            <div class="css-1xeotsd">
                                <h2 class="MuiTypography-root MuiTypography-h1 MuiTypography-alignCenter css-6ik0k6">$15
                                </h2>
                                <h5 class="MuiTypography-root MuiTypography-h5 MuiTypography-alignCenter css-1x7qppm">
                                    /mo</h5>
                            </div>
                            <h6 class="MuiTypography-root MuiTypography-subtitle1 MuiTypography-alignCenter css-wj4zqm">
                                20 users included<br>10 GB of storage<br>Help center access<br>Priority email support
                            </h6>
                        </div>
                        <div class="MuiCardActions-root MuiCardActions-spacing css-3zukih"><button
                                class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-fullWidth MuiButtonBase-root  css-mz0h2v"
                                tabindex="0" type="button" (click)="openModalAbonnement()">Get started</button></div>
                    </div>
                </div>
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 css-16ansk8">
                    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1bwnlt1"
                        p="5">
                        <div class="MuiCardHeader-root css-1r6qk30" pb="0" pt="2">
                            <div class="MuiCardHeader-content css-11qjisw"><span
                                    class="MuiTypography-root MuiTypography-h5 MuiTypography-alignCenter MuiCardHeader-title css-cktmo9">Enterprise</span>
                            </div>
                        </div>
                        <div class="MuiCardContent-root css-1qw96cp">
                            <div class="css-1xeotsd">
                                <h2 class="MuiTypography-root MuiTypography-h1 MuiTypography-alignCenter css-6ik0k6">$30
                                </h2>
                                <h5 class="MuiTypography-root MuiTypography-h5 MuiTypography-alignCenter css-1x7qppm">
                                    /mo</h5>
                            </div>
                            <h6 class="MuiTypography-root MuiTypography-subtitle1 MuiTypography-alignCenter css-wj4zqm">
                                50 users included<br>30 GB of storage<br>Help center access<br>Phone &amp; email support
                            </h6>
                        </div>
                        <div class="MuiCardActions-root MuiCardActions-spacing css-3zukih"><button
                            class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-fullWidth MuiButtonBase-root  css-mz0h2v mt-4"
                            tabindex="0" type="button" (click)="openModalAbonnement()">Get started</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>