.css-dg8599 {
    padding: 24px 0px;
}

.css-3wb0vh {
    margin: 0px 0px 0.35em;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
}

.css-1m0egv3 {
    margin: 0px 0px 0.35em;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 0.928571rem;
    line-height: 1.75;
    text-align: center;
}

.css-1cn3yto {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}

.css-12bxjy8 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 83.3333%;
}

.css-19adwqa {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin-top: -24px;
    width: calc(100% + 24px);
    margin-left: -24px;
    align-items: flex-end;
}

.css-19adwqa>.MuiGrid-item {
    padding-left: 24px;
    padding-top: 24px;
}

.css-1bwnlt1 {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: rgb(50 50 93 / 2%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px;
    background-image: none;
    padding: 20px;
    width: 321px;
    height: 332px;
}

.css-1r6qk30 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 16px 0px;
}

.css-11qjisw {
    flex: 1 1 auto;
}

.css-cktmo9 {
    margin: 0px;
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.25;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    display: block;
}

.css-1qw96cp {
    padding: 16px;
}

.css-1xeotsd {
    text-align: center;
    padding-bottom: 12px;
}

.css-6ik0k6 {
    margin: 0px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    display: inline;
}

.css-1x7qppm {
    margin: 0px;
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.25;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    display: inline;
}

.css-wj4zqm {
    margin: 0px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 0.928571rem;
    line-height: 1.75;
    text-align: center;
}

.css-3zukih {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
}

.css-2vt611 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-transform: none;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 5px 15px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(55, 111, 208, 0.5);
    color: rgb(55, 111, 208);
    width: 100%;
    margin-top: 19px;
}

.css-2vt611:hover {
    text-decoration: none;
    background-color: rgba(55, 111, 208, 0.04);
    border: 1px solid rgb(55, 111, 208);
}

.css-mz0h2v:hover {
    text-decoration: none;
    background-color: rgb(38, 77, 145);
}

.css-mz0h2v {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-transform: none;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(55, 111, 208);
    width: 100%;
}

.css-sqp4u0 {
    flex: 0 0 auto;
    align-self: flex-start;
    margin-bottom: -4px;
    margin-top: -4px;
    margin-right: -4px;
}

.css-vnjz4i {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.39286rem;
}