<div class="inscription">

      <div class="inscription__form">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 class="center"><span class="bold color-default">Néo Prospection vérifie votre profil,
          vous recevrez un mail rapidement.
          </span></h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
</div>