<div class="content">
   
    <h3 hidden>{{title}}</h3>
    <nav class=" " aria-label="Breadcrumb">
        <ol class="d-flex ">
            <li hidden class="MuiBreadcrumbs-li"><a
                    class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover css-19jsrma"
                    href="/">Dashboard</a></li>
            <li hidden aria-hidden="true" class="MuiBreadcrumbs-separator css-3mf706">></li>
            <!--<li class="MuiBreadcrumbs-li"><a
                    class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover css-19jsrma"
                    href="/">Forms</a></li>
            <li aria-hidden="true" class="MuiBreadcrumbs-separator css-3mf706">/</li>
            <li class="MuiBreadcrumbs-li">
                <p class="MuiTypography-root MuiTypography-body1 css-dhtbsz">Formik</p>
            </li>-->
        </ol>
    </nav>
    <hr class="hr-top">
</div>