<div class="pt-0">
    <div class="form-group example-container p-5">
        <h6 class="form-title">Texte de présentation</h6>
        <form [formGroup]="TextePresentationGroup">

                    <div class="d-flex justify-content-between">
        <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>Texte de présentation:</mat-label>
            <textarea matInput placeholder="Texte de présentation" formControlName="presentation"></textarea>
        </mat-form-field>
        </div>  
       
            <input type="submit" (click)="onSubmit()" value="Enregistrer" class="btn-save mt-2">
            <input type="submit" value="Annuler" class="btn-save mt-2">
        </form>
    </div>
</div>