
<div class="all-section-profil">
  <div class="row">
    <!----------********************---------->
    <div class="col-sm-4">
      <!---------*****Part 1 section 1******----------->
      <!------------->

      <div>
        <mat-card class="all-section">
          <div class="d-flex justify-content-between">
            <h6 class="first_title">Lucy Lavender <img class="belgique" src="../../../assets/images/belgique.png" alt=""></h6>
            <div class="css-i3pbo"></div>

            <div class="progress-create">
              <!-- <div class="d-flex flex-column all-progress">
                <h4 class="progress-bar-value">0%</h4>
                <mat-progress-bar mode="determinate" value="0">
                </mat-progress-bar>
              </div> -->
              <fa-icon
                (click)="openDialogAddTeleoperateurs()"
                class="icon-blue"
                [icon]="pen"
              ></fa-icon>
            </div>
          </div>

          <div class="css-1qm1lh"></div>
          <div class="text-center">
            <div class="MuiAvatar-root MuiAvatar-circular css-1vjxqmu">
              <img
                class="MuiAvatar-img css-1hy9t21"
                src="/assets/images/image-profile/avatar-1.jpg"
                alt=""
              />
            </div>
            <div class="css-1ipadgh">
             
              <div class="MuiBox-root css-pelz90">Lead Developer</div>
            </div>

            <!-- <div class="text-center">
              <button mat-raised-button color="primary" margin-left="2px">
                Follow
              </button>
              <button mat-raised-button color="primary" margin-right="2px">
                Message
              </button> 
            </div> -->
          </div>
        </mat-card>
      </div>

      <!------------->
      <!---------*****Part 1 section 2******----------->
           <!------------->

           <div style="margin-bottom: 0!important;">
            <mat-card class="all-section" style="height:125px; padding-bottom: 0!important;">
              <div class="d-flex justify-content-between">
                <h6 class="first_title">Votre voix</h6>
                <div class="css-i3pbo"></div>
    
              </div>
    
    
    
    
              <div class="container" >
    
                <app-audio-recorder></app-audio-recorder>
              </div>
            </mat-card>
          </div>
    
      <!------------->
<!---------*****Part 1 section 3******----------->
      <div>
        <mat-card class="all-section">
          <div class="d-flex justify-content-between">
            <h6 class="first_title">Notifications par Mails</h6>
            <div class="css-i3pbo"></div>
            <div class="progress-create">
           </div>
          </div>

          <!-- <div class="d-flex">
            <mat-checkbox></mat-checkbox>
            <p class="mat-checkbox-label">
              Je souhaite recevoir un mail pour chaque mission mise en ligne
              correspondant à mes préférences.
            </p>
          </div> -->
          <!---->
          <!-- <div class="d-flex">
            <mat-checkbox></mat-checkbox>
            <p class="mat-checkbox-label">
              Je souhaite recevoir un mail de synthèse journalier des nouvelles
              missions mises en ligne correspondant à mes préférences.
            </p>
          </div> -->
<!----->
          <label class="row all-label" ><input
                class="PrivateSwitchBase-input css-1m9pwf3 col-sm-2 pl-2"
                name="gilad"
                type="checkbox"
                data-indeterminate="false"
                checked="" />
            <span
              class="css-jp7ee5 col-sm-10"
              >Je souhaite recevoir un mail pour chaque mission mise en ligne
              correspondant à mes préférences.</span
            ></label
          >
          <!----->
          <label
            class="row all-label"
            ><input
                class="PrivateSwitchBase-input css-1m9pwf3 col-sm-2"
                name="gilad"
                type="checkbox"
                data-indeterminate="false"
                 /><span
              class="col-sm-10"
              > Je souhaite recevoir un mail de synthèse journalier des nouvelles
              missions mises en ligne correspondant à mes préférences.</span
            ></label>
            <!----->
         
        </mat-card>
      </div>
     
    </div>

    <!------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------>

    <div class="col-sm-8 justify-content-around">
      <!---------*****Part 2 section 1******----------->
      <!------------------>

      <div>
        <mat-card class="all-section">
          <div class="d-flex justify-content-between">
            <h6 class="first_title">Données personnelles</h6>
            <div class="css-i3pbo"></div>
            <div class="progress-create">
              <!-- <div class="d-flex flex-column all-progress">
                <h4 class="progress-bar-value">100%</h4>
                <mat-progress-bar mode="determinate" value="40">
                </mat-progress-bar>
              </div> -->
              <fa-icon class="icon-blue" (click)="openDialogPersonnelles()" [icon]="pen"></fa-icon>
            </div>
          </div>

          <!------------->
          <div class="row">
            <div class="col-md-4 text-start">
              <strong>Civilité : </strong> Mme
            </div>
            <div class="col-md-4 text-start"><strong>Nom : </strong> ach</div>
            
          </div>
          <!------------->
          <!------------->
          <div class="row">
            
            <div class="col-md-4 text-start">
              <strong>Prénom : </strong> sam378
            </div>
            <div class="col-md-4 text-start">
              <strong>Adresse mail : </strong> achsam37@gmail.com
            </div>
          </div>
          <!------------->
             <!------------->
             <div class="row">
              <div class="col-md-4 text-start"><strong>Téléphone : </strong> 0332547895</div>
            
            </div>
            <!------------->
        </mat-card>
      </div>

      <!------------------>
      <!------------------->
      <!---------*****Part 2 section 2******----------->
      <!------------------->
      <!------------------>

      <div>
        <mat-card class="all-section">
          <div class="d-flex justify-content-between">
            <h6 class="first_title">Données de votre entreprise</h6>
            <div class="css-i3pbo"></div>
          
          </div>

          <!------------->
          <div class="row">
            <div class="col-md-4 text-start">
              <strong>Type société : </strong> Société (EURL, SARL, SA, SAS)
            </div>
            <div class="col-md-4 text-start">
              <strong>Nom société  : </strong> sam
            </div>
          </div>
          <!------------->
          <!------------->
          <div class="row">
            <div class="col-md-4 text-start">
              <strong>SIRET  : </strong>82905485700026
            </div>
            <div class="col-md-4 text-start">
              <strong>TVA : </strong>
            </div>
           
          </div>
          <!------------->
             <!------------->
             <div class="row">
              <div class="col-md-4 text-start">
                <strong>Adresse  : </strong> 
              </div>
              <div class="col-md-4 text-start">
                <strong>Code postal : </strong>2354
              </div>
             
            </div>
            <!------------->
              <!------------->
              <div class="row">
                <div class="col-md-4 text-start">
                  <strong>Ville  : </strong> 
                </div>
              
               
              </div>
              <!------------->
        </mat-card>
      </div>
      <!---------*****Part 2 section 3******----------->
      <!------------------>
      <!------------------>

    

      <!---------*****Part 2 section 4******----------->
      <!------------------>
      <!------------------>

      <div>
        <mat-card class="all-section">
          <div class="d-flex justify-content-between">
            <h6 class="first_title">Présentation</h6>
            <div class="css-i3pbo"></div>
            <div class="progress-create">
              <!-- <div class="d-flex flex-column all-progress">
                <h4 class="progress-bar-value">100%</h4>
                <mat-progress-bar mode="determinate" value="40">
                </mat-progress-bar>
              </div> -->
              <fa-icon class="icon-blue" (click)=" openDialogPresentation()" [icon]="pen"></fa-icon>
            </div>
          </div>

          <!------------->
          <div class="row">
            <p class="col-sm-11 presentation-to css-jp7ee5">
              Je suis un commercial marketeur, j’ai 3 ans d’expérience Dans ce
              domaine de télémarketing, ce qui me plait dans ce métier c’est
              accompagner les PME à acquérir de nouvelles parts de marché en se
              bâtissant une forte image de marque. Je suis Passionné par la
              relation client, j’ai un pouvoir de persuasion rationnel, je suis
              dynamique.
            </p>
          </div>
          <!------------->
        </mat-card>
      </div>
      <!---------*****Part 2 section 5******----------->

      <!------------------>
    </div>
    <!----------********************---------->
  </div>


 
</div>
