<div class="p-5 pt-0">
    <div class="form-group example-container">
        <h6 class="form-title">TypeProspects</h6>
        <form [formGroup]="typeprospectsGroup">

        <div class="d-flex justify-content-between">
        <!--<div class="d-flex">-->
            <mat-form-field appearance="outline" class="">
                <mat-label>IdSociete:</mat-label>
                <mat-select matNativeControl formControlName="idSociete">
                    <mat-option *ngFor="let option of societess" [value]="option?.idSociete">{{option?.nom}}</mat-option>
                </mat-select>
            </mat-form-field>
        <!--</div>-->

        </div>  
       
        <div class="d-flex justify-content-between">
        <!--<div class="d-flex">-->
            <mat-form-field appearance="outline" class="">
                <mat-label>Type prospects:</mat-label>
                <mat-select matNativeControl formControlName="libelle_Type_Prospect">
                    <mat-option *ngFor="let option of keys(Enums.Libelle_Type_ProspectTypeProspectsTypeProspects);index as i" [value]="values(Enums)[i]">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
        <!--</div>-->

        </div>  
       

         
            <input type="submit" (click)="onSubmit()" value="Enregistrer" class="btn-save mt-2">
            <input type="submit" value="Annuler" class="btn-save mt-2">
        </form>
    </div>
</div>