
  .mainContent{
    padding:48px
}
.row{
    margin-bottom: 20px;
}
@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 100%;
    }
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.g-4, .gy-4 {
    --bs-gutter-y: 1.5rem;
}

.g-4, .gx-4 {
    --bs-gutter-x: 1.5rem;
}
.h-200px {
    height: 200px !important;
}

.rounded-top {
    border-top-left-radius: 0.4rem !important;
    border-top-right-radius: 0.4rem !important;
}
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 16px ;
    padding-bottom: 16px !important;
    margin-bottom: 24px;
    
}
@media (min-width: 576px){
.text-sm-start {
    text-align: left !important;
}}


@media (min-width: 576px){
.d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}}
.text-center {
    text-align: center !important;
}
.align-items-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}
@media (min-width: 768px){
    .avatar-xxl {
        height: 5.125rem;
        width: 5.125rem;
    }
}
.avatar-xxl {
    width: 8rem;
    height: 8rem;
}
.avatar {
    height: 8rem;
    width: 8rem;
    position: relative;
    display: inline-block;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}
.mt-n5 {
    margin-top: -3rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (min-width: 576px){
.ms-sm-4 {
    margin-left: 1.5rem !important;
}}

@media (min-width: 576px){
.mt-sm-3 {
    margin-top: 1rem !important;
    margin-left: 5px;
}}

.mb-0 {
    margin-bottom: 0 !important;
    text-align: initial;
}

h5, .h5 {
    font-size: 1.171875rem;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    color: #14191e;
}

small, .small {
    font-weight: 400;
    font-size: 0.875em;
}
.text-success {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.mt-3 {
    margin-top: 1rem !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}


.btn {
    outline: 0;
}
.me-2 {
    margin-right: 0.5rem !important;
}
.btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: #676a79;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    border-radius: 0.4rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
.btn-danger-soft {
    color: #d6293e;
    background-color: rgba(214, 41, 62, 0.1);
    margin-left: 34px;
}
.pe-1 {
    padding-right: 0.25rem !important;
}

.timer {
    top: -3px;
    left: 75px;
    font-size: 2.5em;
}


.ouverte {  
    color: rgb(55, 111, 208);
    display: inline-block;
    margin-top: -9px;
}
.timer {
    display: inline-block;
margin-top: -5px;
    /* left: 31%; */
    font-size: 2em;
}
.timer-liste-mission {
    margin-top: -20px !important;
    position: relative;
    margin-left: -55px;
}
.legende-timer {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 10%;
    position: relative;
    margin-top: -5px !important;
}
.heure{
    margin-left: 18px;
}
.minute{
    margin-left: 11px;
}
// .icone-timer {
//     margin-top: 5px;
//     font-size: 2.5em;
//     color: rgb(34, 160, 78) ;
// }
.icone-timer {
    font-size: 4em;
    left: 10%;
    top: 20%;
}
.mdi, .mdi:hover {
    transition: all 0.5s ease-in-out;
}

.btn-save,
.btn-add{
    
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 12px 0px 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-transform: none;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(55, 111, 208);
    //margin: 10px;
}
.btn-add:hover,
.btn-save:hover {
    text-decoration: none;
    background-color: rgb(38, 77, 145);
}
//**********************************************

.all-section-profil {
    padding-right: 48px;
    padding-left: 48px;
  }
  .all-section{
    //padding: 16px;
    margin-bottom: 24px;
    position: absolute;
  }
  mat-card{
    position: relative !important;
      background-color: white!important;
      color: rgba(0, 0, 0, 0.87)!important;
      transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms!important;
      overflow: hidden!important;
      border-radius: 6px!important;
      box-shadow: rgb(50 50 93 / 2%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px!important;
      background-image: none!important;
      padding: 0px!important;
      padding-bottom: 24px!important;
  }
  .first_title {
    color: rgba(0, 0, 0, 0.87);
    margin: 0px 0px 0.35em;
    margin-bottom: 16px ;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  a{
    text-decoration: none;
  }
  .Types-mission{
    padding-left: 15px;
  }
  .fa-icon{
    margin-left: 20px;
  }
  .presentation-to {
    width: 100%;
    padding-right: 16px;
      position: relative;
    
    }
    .css-jp7ee5 {
        color: rgba(0, 0, 0, 0.87);
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.43;
      }

      .info-compteur {
        display: block;
        position: relative;
        right: 16px;
        padding: inherit;
        top: 50%;
        transform: translateY(-50%);
        width: 115%;
    }
    .info-mission {
        font-size: 1.1em;
    }
    .info-mission {
        width: 80%;
        display: inline-block;
    }
    .info-mission .row {
        padding: 16px !important;
        border-radius: 5px;
    }
    .info-mission > .row > div {
        border-left: 1px solid #dce3e6;
    }
    .p_timer{
    margin-left: calc(100% - 13.3rem);
       margin-top: -70px;
      margin-bottom: 25px;
       position: relative !important;
    }
    .btn-Faire{
        float: right;
    }
    .btn-mr{
        margin-right: 10px;
    }
    mat-icon.icone-timer {
        font-size: 56px;
      height: 50px;
      width: 50px;
      line-height: 50px;
        left: 10%;
       // top: -10%;
       margin-top: -10px;
       
    }
    
    .mat-icon {
        font-size: 16px;
      }
    
      .timer-liste-mission {
        margin-top: -20px !important;
        position: relative;
        margin-left: -55px;
    }
    .timer {
        display: inline-block;
        margin-top: -5px;
        font-size: 2em;
    }
    .all-legende{
        margin-left: -30px;
    }
    .btn-Ajouter-Mission{
        margin-left: 50px;
    }