<div class="p-5 pt-0">
  <div class="example-container ">
    <div class=" header-content">
      <span class="list-title">Teleoperateurs</span>
      <button class="btn btn-primary mb-3 mt-2 btn-add" [routerLink]="['/Teleoperateurs/add']">Ajouter</button>

    </div>

    <div class="example-table-container">

      <table mat-table [dataSource]="teleoperateurss" class="example-table" matSort matSortActive="nom"
        matSortDisableClear matSortDirection="desc">

        <!-- Number Column -->
        <ng-container matColumnDef="civilite">
          <th mat-header-cell *matHeaderCellDef>Civilité </th>
          <td mat-cell *matCellDef="let row">{{row.civilite}}</td>
        </ng-container>
        <!-- Number Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let row">{{row.nom}}</td>
        </ng-container>
        <!-- Number Column -->
        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef>Prénom</th>
          <td mat-cell *matCellDef="let row">{{row.prenom}}</td>
        </ng-container>
        <!-- Number Column -->
        <ng-container matColumnDef="date_de_naissance">
          <th mat-header-cell *matHeaderCellDef>Date de naissance</th>
          <td mat-cell *matCellDef="let row">{{row.date_de_naissance}}</td>
        </ng-container>
        <!-- Number Column -->
        <ng-container matColumnDef="adresse">
          <th mat-header-cell *matHeaderCellDef>Adresse</th>
          <td mat-cell *matCellDef="let row">{{row.adresse}}</td>
        </ng-container>
        <!-- Number Column -->
        <ng-container matColumnDef="cp">
          <th mat-header-cell *matHeaderCellDef>Code Postal</th>
          <td mat-cell *matCellDef="let row">{{row.cp}}</td>
        </ng-container>
        <!-- Number Column -->
        <ng-container matColumnDef="ville">
          <th mat-header-cell *matHeaderCellDef>Ville</th>
          <td mat-cell *matCellDef="let row">{{row.ville}}</td>
        </ng-container>
        <!-- Number Column -->
        <ng-container matColumnDef="tel_Portable">
          <th mat-header-cell *matHeaderCellDef>Téléphone portable</th>
          <td mat-cell *matCellDef="let row">{{row.tel_Portable}}</td>
        </ng-container>

        
        <!-- State Column -->
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef class="text-end action-title">actions</th>
          <td mat-cell *matCellDef="let row" class="text-end">
            <!-- <span class="link" [routerLink]="['/teleoperateurs/'+row.id]"><fa-icon [icon]="faEdit"></fa-icon></span> -->
            <button mat-icon-button mat-button class="action-button" (click)="delete(row)">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
            <button mat-icon-button mat-button class="action-button" [routerLink]="['/teleoperateurs/'+row.id]">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results">
    </mat-paginator>
  </div>
</div>
