
<section class="ls ms c-gutter-60        s-pt-55 s-pb-0     s-pt-lg-95 s-pb-lg-100 s-pt-xl-145 s-pb-xl-150"
    id="section-be48bd6">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-12 col-lg-6">
                <div class="fw-divider-space divider--30 divider-lg--80"></div>
                <a routerLink="/Inscription/teleoperateurs">
                    <div class="media light-bg box-shadow text-left intro-box">
                        <div class="icon-styled fs-40  color-main">
                            <img src="/assets/images/TeleOperateur.png" style="width: 80px;">
                        </div>
                        <div class="media-body">
                            <h6 class="fs-20"></h6>
                            <p>je suis un <b>téléopérateur indépendant</b></p>
                        </div>
                    </div><!-- .media -->
                </a>
            </div><!-- .col-* -->
            <div class="col-xs-12 col-12 col-lg-6">
                <div class="fw-divider-space divider-30 divider-lg--80"></div>
                <a routerLink="/Inscription/societes">
                    <div class="media light-bg box-shadow text-left intro-box">
                        <div class="icon-styled fs-40  color-main">
                            <img src="/assets/images/Company.png" style="width: 80px;">
                        </div>
                        <div class="media-body">
                            <h6 class="fs-20"></h6>
                            <p> Je représente une <b>entreprise</b></p>
                        </div>
                    </div><!-- .media -->
                </a>
            </div>
        </div>

    </div>
</section>